<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h2 class="mt-3">パスワードをお忘れですか?</h2>
      <p>登録メールアドレス宛にパスワード変更のご案内を送ります。</p>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      
        <div class="actions mt-4">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
  </div>
</div>