<div class="container">
  <div class="row">
    <div class="mx-auto col-10 m-5">
      <div class="text-center">
        <h2 class="fas fa-envelope">お問い合わせ</h2>
      </div>
      <%= form_for(@contact, url: confirm_path) do |f| %>
        <div class="form-group m-3">
          <%= f.label :name, 'お名前*' %>
          <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
        </div>

        <div class="form-group m-3">
          <%= f.label :email, '返信用メールアドレス*' %>
          <%= f.text_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group m-3">
          <%= f.label :phone_number, '電話番号*' %>
          <%= f.text_field :phone_number, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group m-3">
          <%= f.label :subject, 'お問い合わせ件名*' %>
          <%#= f.select :subject, Contact.subjects_i18n, include_blank: '選択してください', class: 'form-control' , required: true  %>
          <%= f.select :subject, Contact.subjects.keys.map {|k| [I18n.t("enums.contact.subject.#{k}"), k]}, {include_blank: "選択してください",selected: "選択してください"}, class: 'form-control' , required: true %>
        </div>

        <div class="form-group m-3">
          <%= f.label :message, 'お問い合わせ内容*' %>
          <%= f.text_area :message, size: '10x10', class: 'form-control' %>
        </div>

        <div class="m-3">
          <%= f.submit '入力内容確認' %>
        </div>
      <% end %>
    </div>
  </div>
</div>