<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h2 class="mt-3">ログイン</h2>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
      
        <div class="field mt-3">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>
      
        <div class="actions mt-3">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
      <div class="actions mt-5">
       <h4 class=" bg-light d-inline">登録がお済みでない方</h4>
       <p><u><%= link_to 'こちら', new_user_registration_path %></u>から新規登録を行ってください。</p>
       <p><u><%= link_to 'パスワードを忘れた方', new_user_password_path %></u></p>
      </div>
    </div>
  </div>
</div>
