<p>コメント件数：<%= post.post_comments.count %></p>

<% post.post_comments.each do |post_comment| %>
    <p>
      <%= attachment_image_tag(post_comment.user, :profile_image, fallback: "no-image.jpg", size:'50x50') %>
      <%= post_comment.user.name %><br>
      <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %><br>
      <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if post_comment.user == current_user %>
      <!-- コメント削除 -->
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true %>
      <% end %>
    </p>
<% end %>