  <!-- ユーザ名 -->
    <%= @user.name %>
  <!-- プロフィール画像 -->
    <%= attachment_image_tag(@user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg") %>
  <!--星評価-->
  <div id="star-rate-<%= @post.id %>"></div>
    <script>
    $('#star-rate-<%= @post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @post.rate %>,
    });
    </script>
  <!--料理タイトル-->
  <label style="display:block;">料理タイトル</label>
    <%= @post.title %>
  <!-- 料理画像 -->
  <label style="display:block;">料理画像</label>
    <%= attachment_image_tag(@post, :cooking_image, :fill, 50, 50, fallback: "no-image.jpg") %>
  <!-- レシピ紹介 -->
  <label style="display:block;">レシピ紹介</label>
    <%= @post.body %>
  <!-- 投稿に対するいいね機能 -->
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

  <!-- 投稿対するコメント機能 -->
<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>
    <p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    </p>
  <!-- コメント削除 -->
  <% if post_comment.user == current_user %>
    <div>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    </div>
  <% end %>
</div>
<% end %>
<div>
  <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
    
  <p class = "text-center border">
    <%= link_to  edit_post_path(@post), class: "btn btn-whiht" do %>
  <i class="fas fa-user-cog"></i>
    <% end %>
  </p>